.activeStyle  {
  border-bottom: 1px solid rgb(5, 136, 252);
  color: aliceblue;
} 

.logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
  width: 250px;
  padding-top: 15px;

}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

a {
  font-size: 22px;
  color: aliceblue;
}

.align-right {
  justify-content: flex-end;
}

.hover {
  transition: navBorder 0.5s linear
}

.hover:hover {
  color: black !important;
  border-bottom: 1px solid rgb(57, 127, 189);
  background-color: transparent;
  position: relative;
  transition: border-bottom .5s linear;
}
