<nav class="navbar navbar-expand-sm navbar-dark background sticky-top" style="border-bottom: 5px lightblue solid">
    <div class="container">

        <img src="../assets/Images/Website Logo.png" width="250" height="auto" class="d-inline-block align-top"
            alt="S P Logo">

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-right" [ngClass]="{ 'show': navbarOpen }">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link hover" [routerLinkActive]="['active', 'activeStyle']" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover" [routerLinkActive]="['active', 'activeStyle']" routerLink="/resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover" [routerLinkActive]="['active', 'activeStyle']" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hover" [routerLinkActive]="['active', 'activeStyle']" routerLink="/chat_room">Chat</a>
                </li>
            </ul>

        </div>
    </div>
</nav>