.activeStyle  {
  border-bottom: 1.5px solid rgb(5, 136, 252);
  color: white;
  border-top: 1.5px solid rgb(5, 136, 252);
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

a {
  font-size: 22px;
  color: aliceblue;
}

.align-right {
  justify-content: flex-end;
}