<footer class="p-5 sticky-bottom shadow-lg bg-white rounded container text-center">

    <section class="row">

        <div class="col-xs-6 mr-2 pb-1">
            <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/steven-p-8a38a2118/"
                class="btn btn-outline-secondary">
                <img width="90px" height="80px" class="button" src="../../assets/Images/LI-In-Bug.png"
                    alt="Linked In Link Logo">
            </a>
        </div>

        <div class="col-xs-6 mb-3">
            <a rel="noreferrer" target="_blank" href="https://github.com/sprine168" class="btn btn-outline-secondary">
                <img width="80" src="../../assets/Images/GitHub-Mark-64px.png" alt="Git Hub Link Logo">
            </a>
        </div>

        <!-- My Contact Information -->
        <div class="col justify h5">

            <ul class="list-unstyled">
                <li>
                    <p>Phone: <a href="tel:+18166897463">(816) 689-7463</a></p>
                </li>
                <li>
                    <p>Email: <a href="mailto:steven@stevenprine.com">steven@stevenprine.com</a></p>
                </li>
            </ul>

        </div>


    </section>

</footer>