<main class="mb-5">
    
    <div class="headings h1 text-center">
        <h1>Resume</h1>
    </div>

    <div class="container mt-2 p-5 container shadow-lg bg-white rounded">
        <div class="text-center mb-5 textLink h5">
            <a target="_blank" href="../../assets/files/PrineSteven_Resume.pdf">Can find a PDF copy
                of
                my
                resume here</a>
        </div>

        <h2 class="h4"><strong>Education:</strong></h2>
        <section class="ml-4 cus-font">

            <div class="row">

                <div class="col-md-6">
                    <p>
                        Missouri Western State University<br>
                        Computer Science: General Concentration
                    </p>
                </div>

                <div class="col-md-6 text-right">
                    <p>
                        GPA 3.63<br>
                        Graduation Date: Dec 2020
                    </p>

                </div>
            </div>
        </section>

        <br>
        <hr>

        <h2 class="h4"><b>Experience:</b></h2>

        <section class="m-4 cus-font">

            <div class="row">

                <div class="col-md-6">
                    <i>Full Stack Developer Intern</i><br>
                    <b>Buchanan County Courthouse (IT Department)</b>
                </div>

                <div class="col-md-6 text-right">
                    Dec 2017 to Aug 2019<br>
                    <span class="mr-4">St. Joseph, MO</span>
                </div>

            </div>

            <br>

            <ul class="list-group ml-5" style="list-style-type:none; ">
                <li>
                    <p>Designing, creating, implementing, and maintaining web apps</p>
                </li>
                <li>
                    <p>Working with different departments to analyze customer needs</p>
                </li>
                <li>
                    <p>Usability and Acceptability testing directly with customers</p>
                </li>
                <li>
                    <p>Train customers on how to use the updated applications</p>
                </li>
                <li>
                    <p>Converting MS Access Databases to SQL Server databases</p>
                </li>
                <li>
                    <p>HTML, CSS, JavaScript, AJAX, and bootstrap 4</p>
                </li>
                <li>
                    <p>Using Python to extract data from CSV files</p>
                </li>
                <li>
                    <p>PHP backend development with MS SQL Server</p>
                </li>
                <li>
                    <p>API creation using php</p>
                </li>
            </ul>

        </section>

        <section class="m-4 cus-font">

            <div class="row">

                <div class="col-md-6">
                    <i>Content Tutor</i><br>
                    <strong>Missouri Western State University</strong>
                </div>

                <div class="col-md-6 text-right">
                    Jan 2016 to May 2016<br>
                    <span class="mr-4">St. Joseph, MO</span>
                </div>

            </div>

            <br>

            <ul class="list-group ml-5" style="list-style-type:none;">
                <li>
                    <p>Helping assist students with academic questions with Java or Microsoft Applications</p>
                </li>
            </ul>

        </section>

        <br>
        <hr>

        <h2 class="h4"><b>Skills:</b></h2>

        <table class="table table-borderless table-sm ml-4 h5 cus-font">
            <tbody>
                <tr>
                    <td scope="row">Languages:</td>
                    <td>Java, Python, PHP, C/C++, JavaScript, SQL</td>
                </tr>
                <tr>
                    <td scope="row">Web: </td>
                    <td>HTML, CSS, Angular 9, Bootstrap3/4, AJAX, XML, JSON</td>
                </tr>
                <tr>
                    <td scope="row">Tools: </td>
                    <td>Git, Maven, Gradle, Pip, Node Package Manager, Unit Testing</td>
                </tr>
                <tr>
                    <td scope="row">Leadership: </td>
                    <td>Team leader for an Object Orientated Programming team consisting of 5 people</td>
                </tr>
                <tr>
                    <td scope="row">Research: </td>
                    <td>Used Spring Boot to make calls to GitHub’s API to create the file structure</td>
                </tr>
            </tbody>

        </table>

        <br>
        <hr>

        <h2 class="h4"><b>Achievements:</b></h2>

        <table class="table table-borderless table-sm ml-4 h5">

            <tbody class="cus-font">
                <tr>
                    <td scope="row">Organizations:</td>
                    <td>ACM Chapter President MWSU, AITP chapter Vice President
                        MWSU</td>
                </tr>
                <tr>
                    <td scope="row">Past Awards:</td>
                    <td>Deans List, Presidents Honor List</td>
                </tr>
            </tbody>

        </table>

        <br>
        <hr>

        <h2 class="h4"><b>Connect Via:</b></h2>

        <table class="table table-borderless table-sm ml-4 h5">

            <tbody class="cus-font">
                <tr>
                    <td><a class="textLink" rel="noreferrer" target="_blank"
                            href="https://github.com/sprine168">GitHub</a>
                    </td>
                </tr>
                <tr>
                    <td><a class="textLink" target="_blank" rel="noreferrer"
                            href="https://www.linkedin.com/in/steven-p-8a38a2118/">LinkedIn</a></td>
                </tr>
            </tbody>

        </table>

        <div class="mt-5 text-center textLink h5">
            <a rel="noreferrer" target="_blank" href="../../assets/files/PrineSteven_Resume.pdf">Can
                find a
                PDF copy of my resume here</a>
        </div>

    </div>
</main>