<!-- <div class="container mt-1">
    <object alt="Resume" data="../../assets/files/PrineSteven_Resume.pdf" type="application/pdf" width="100%"
        height="850">
        <p class="alert alert-danger text-center">Your browser does not support PDFs.</p>
        <a class="text-center" href="../../assets/files/PrineSteven_Resume.pdf">Resume Download Instead :)</a>
    </object>
</div> -->

<div class="container container-fluid mb-3 mt-5">

    <h1 class="text-center">Resume</h1>

    <p class="h6"><strong>Education:</strong></p>

    <section class="ml-4">
        <div class="row"> 
            <div class="col-md-6">
                Missouri Western State University<br>
                Computer Science: General Concentration
            </div>

            <div class="col-md-6 text-right">
                GPA 3.63<br>
                Graduation Date: Dec 2020
            </div>
        </div>
    </section>

    <hr>

    <p class="h6"><b>Experience:</b></p>

    <section class="m-4">
        <div class="row"> 
            <div class="col-md-6">
                <i>Full Stack Developer Intern</i><br>
                <b>Buchanan County Courthouse (IT Department)</b>
            </div>

            <div class="col-md-6 text-right">
                Dec 2017 to Aug 2019<br>
                <span class="mr-4">St. Joseph, MO</span>
            </div>
        </div>
    </section>

    <ul class="list-group ml-5" style="list-style-type:none; ">
        <li>Designing, creating, implementing, and maintaining web apps</li>
        <li>Converting MS Access Databases to SQL Server databases</li>
        <li>HTML, CSS, JavaScript, AJAX, and bootstrap 4</li>
        <li>Using Python to extract data from CSV files</li>
        <li>PHP backend development with MS SQL Server</li>
        <li>API creation using php</li>
    </ul>

    <br>

    <section class="m-4">
        <div class="row"> 
            <div class="col-md-6">
                <i>Freelance</i><br>
                <b>Ford’s Drive In, IMKO, Family/Friends</b>
            </div>

            <div class="col-md-6 text-right">
                Jan 2013 to May 2016<br>
                <span class="mr-4">St. Joseph, MO</span>
            </div>
        </div>
    </section>

    <ul class="list-group ml-5" style="list-style-type:none;">
        <li>Transferring databases and applications to new systems (Ford’s Drive In, IMKO)</li>
        <li>Troubleshooting and fixing computers (Friends/Family, Ford’s Drive In)</li>
    </ul>

    <br>

    <section class="m-4">
        <div class="row"> 
            <div class="col-md-6">
                <i>Content Tutor</i><br>
                <b>Missouri Western StateUniversity</b>
            </div>

            <div class="col-md-6 text-right">
                Jan 2016 to May 2016<br>
                <span class="mr-4">St. Joseph, MO</span>
            </div>
        </div>
    </section>


    <ul class="list-group ml-5" style="list-style-type:none;">
        <li>Helping assist students with academic questions with Java or Microsoft Applications</li>
    </ul>

    <hr>

    <p class="h6"><b>Skills:</b></p>

    <table class="table table-borderless table-sm ml-4">
        <tbody>
            <tr>
                <td scope="row">Languages:</td>
                <td>Java, Python, PHP, C/C++, JavaScript, SQL</td>
            </tr>
            <tr>
                <td scope="row">Web: </td>
                <td>HTML, CSS, Angular 9, Bootstrap3/4, AJAX, XML, JSON</td>
            </tr>
            <tr>
                <td scope="row">Tools: </td>
                <td>Git, Maven, Gradle, Pip, Node Package Manager, Unit Testing</td>
            </tr>
            <tr>
                <td scope="row">Leadership: </td>
                <td>Team leader for an Object Orientated Programming team consisting of 5 people</td>
            </tr>
            <tr>
                <td scope="row">Research: </td>
                <td>Used Spring Boot to make calls to GitHub’s API to create the file structure</td>
            </tr>
        </tbody>

    </table>

    <hr>

    <p class="h6"><b>Extras:</b></p>


    <table class="table table-borderless table-sm ml-4">
        <tbody>
            <tr>
                <td scope="row">Organizations:</td>
                <td>ACM Chapter President MWSU, AITP chapter Vice President
                    MWSU</td>
            </tr>
            <tr>
                <td scope="row">Past Awards:</td>
                <td>Deans List, Presidents Honor List</td>
            </tr>
            <tr>
                <td scope="row">GitHub:</td>
                <td><a class="textLink" target="_blank" href="https://github.com/sprine168">GitHub</a></td>
            </tr>
            <tr>
                <td scope="row">LinkedIn: </td>
                <td><a class="textLink" target="_blank"
                    href="https://www.linkedin.com/in/steven-p-8a38a2118/">LinkedIn</a></td>
            </tr>
        </tbody>

    </table>

    <div class="mt-5 text-center">
        <a class="textLink" target="_blank" href="../../assets/files/PrineSteven_Resume.pdf">Click if you would like a copy of my resume</a>
    </div>
</div>