<section class="">

    <h2 class="font-weight-bold text-center ">Contact Me -- Coming Soon</h2>
    <p class="text-center mb-5">Please do not hesitate to contact me
        directly. I will try and get back with you as soon as possible.

        <div class="row">

            <div class="col-sm-8 mb-5">
                <form id="email-form" name="email-form">

                    <!-- New Row -->
                    <div class="row mb-3">

                        <div class="col-sm-6">
                            <label for="name" class="">Your name</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>

                        <div class="col-sm-6">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>

                    </div>

                    <!-- New Row -->
                    <div class="row mb-3">

                        <div class="col-sm-12">
                            <label for="subject" class="ml-2">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>

                    <!-- New Row -->
                    <div class="row">

                        <div class="col-sm-12 mb-5">
                            <label class="ml-2" for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control"></textarea>
                        </div>
                    </div>

                    <!-- <button disabled class="btn btn-outline-primary justify-content-center ml-2">Submit</button> -->

                </form>

            </div>

            <!-- My Contact Information -->
            <div class="col-sm-4">
                <ul class="list-unstyled mb-0">
                    <li>
                        <p>
                            <strong>Contact Information:</strong>
                        </p>
                    </li>
                    <li>
                        <p><a href="tel:+18166897463">(816) 689-7463</a></p>
                    </li>
                    <li>
                        <p><a href="mailto:steven@stevenprine.com">steven@stevenprine.com</a></p>
                    </li>
                </ul>
            </div>

        </div>

</section>