.ng-valid[required], .ng-valid.required  {
    border-bottom: 5px solid #42A948; /* green */
}

.ng-invalid.ng-touched:not(form)  {
    border-top: 1px solid #7c0d05; /* red */;
    border-bottom: 5px solid #7c0d05; /* red */
    border-left: 1px solid #7c0d05;
    border-right: 1px solid #7c0d05;
}

input, textarea {
    border: 1px solid #0a4886;
}

.invalidInput {
    color: #661c16;
    margin-left: 10px;
}

.visible {
    animation-name: removeAlert;
    animation-duration: 5s;
    opacity: 0;
}

@keyframes removeAlert { 
    0% { opacity: 1;}
    100% { opacity: 0;}
}
