<section class="container mt-5 mb-5">

    <div class="row">

        <article class="col-sm-3 bg-light textBox" *ngFor="let posts of data">

            <div class="bg-primary rounded mt-1 text-light">
                <!-- Chat Name Badges -->
                <p class="badge badge-secondary p-2 m-2">
                    {{ posts.Name }}
                </p>

                <!-- Chat text people enter -->
                <p class="ml-3 direction">{{ posts.Chat }}</p>
                <p class="time">{{ posts.CreatedAt | date:'EEEE h:mm' }}</p>
            </div>

        </article>

        <article class="bg-light textBox col-sm-7 offset-sm-2" *ngFor="let posts of data">

            <h1 class="text-info text-center mt-2">Contact me here section coming soon!!</h1>

        </article>

    </div>

</section>