<!-- TextArea section for outputting live text -->
<section class="container bg-dark mt-5">

    <div class="col-5 bg-light textBox ">
        
        <div class="row ml-1" *ngFor="let posts of data">

            <!-- Chat Name Badges -->
            <div class="text-center badge badge-dark text-wrap mt-3 p-2 chatBadges direction">
                {{ posts.Name }}
            </div>
            
            <!-- Chat text people enter -->
            <p class="ml-3 mt-2 direction" >{{ posts.Chat }} </p>
        </div>

    </div>

    <div class="col-7">

    </div>

</section>