<section>
    <div class="container mt-5 mb-5">
        <p class="ml-5">This real time chat is being used on heroku
            <br>
            Powered by Socket.IO
        </p>
        <div class="row">
            <iframe class="col-md-12 bg-light textBox border mb-5"
                src="https://cherry-cobbler-88087.herokuapp.com/">
            </iframe>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <p class="ml-5">Using a PHP Rest API and Angular 9 to send email asynchronously</p>
        <div class="bg-light textBox col-md-12 mr-2">
            <app-chat-form></app-chat-form>
        </div>
    </div>
</section>