
<nav class="site-header justify-content-center navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand">
    <img src="../assets/Images/Website Logo.png" width="50%" height=50% alt="Steven Prine">
  </a>

  <ul class="navbar-nav p-1">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" data-toggle="tooltip" title="Learn more about me">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" data-toggle="tooltip" title="To the Résumé">Résumé</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" data-toggle="tooltip"
        title="Click if you want to contact me!">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/project" data-toggle="tooltip"
        title="Click to view my projects">Project</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
