<main class="container mt-5">
  <section class="row">

    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title text-info">Weather Application</h5>
        <p class="card-text">A weather application that uses the WeatherBit API, to asyncronously fetch
          json data from a weather api.
        </p>
        <a href="https://stevenprine.com/weatherapp" target="_blank" class="btn btn-primary">To the App Mobile!</a>
      </div>
    </div>

    <div class="card w-50">
      <div class="card-body">
        <h5 class="card-title text-info">Weather Application</h5>
        <p class="card-text">A weather application that uses the WeatherBit API, to asyncronously fetch
          json data from a weather api.
        </p>
        <a href="https://stevenprine.com/weatherapp" target="_blank" class="btn btn-primary">To the App Mobile!</a>
      </div>
    </div>

    <!-- <tbody>
      <tr *ngFor="let posts of data">
          <td>{{ posts.html_url }}</td>
          <td>{{ posts.bodyInformation }}</td>

      </tr>
    </tbody> -->

  </section>
</main>