/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url(assets/fonts/JuliusSansOne-Regular.ttf);
    font-family: googleFont;
}

.headingFont {
    font-family: googleFont;
    font-size: 24px;
}

h1 {
    font-weight: 700;
}

h2 {
    display: block;
    font-size: 35px;
    font-weight: 400;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}	

.background {
    background-color: #003366;
}

/* Removing standard link styling  */
.textLink {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

.indent {
    text-indent: 35px;
}

.headings {
    color:  #003366;
    padding: 5px;
    padding-left: 15px;
}

.doubleSpace {
    line-height: 1.75;
}


.textLink:hover{
    color: rgb(0, 57, 104);
    text-decoration: none;
}

.justify {
    text-align: justify;
}

a, a:hover {
    text-decoration: none;
}
