/* You can add global styles to this file, and also import other style files */
@font-face {
    src: url(assets/fonts/JuliusSansOne-Regular.ttf);
    font-family: googleFont;
}

.headingFont {
    font-family: googleFont;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
    
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}	

.background {
    background-color: #001d37;
}

/* Removing standard link styling  */
.textLink {
    text-decoration: none;
    color: darkblue;
}

.indent {
    text-indent: 35px;
}

.headings {
    color:  #003366;
    border-bottom: #003366 solid 1.5px;
    border-right: #003366 solid 2.75px;
    border-left: #003366 solid 2.75px;
    padding: 5px;
    padding-left: 15px;
}

.doubleSpace {
    line-height: 1.75;
}


.textLink:hover{
    color: dodgerblue;
    text-decoration: none;
}

.justify {
    text-align: justify;
}

a, a:hover {
    text-decoration: none;
}
