<section class="container mt-5">

    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" width="245" height="auto" src="../../assets/Images/profilePicture.png"
                alt="Picture of Steven Prine">
        </div>

        <div class="col-sm">
            <h1 class="headingFont bg-primary p-2 text-center text-light">Full Stack Developer</h1>
            <div class="pl-2">
                <a href="https://www.linkedin.com/in/steven-p-8a38a2118/" class="mr-2"><img width="64"
                        src="../../assets/Images/LI-In-Bug.png"></a>
                <a href="https://github.com/sprine168" class="mr-2"><img width="64"
                        src="../../assets/Images/GitHub-Mark-64px.png"></a>

                <!-- TODO Put this into the footer.
                <div class="">
                    <p class="font-weight-bold">The technologies being used to create this site:</p>
                    <p>Angular 9, Typescript, php 7, CentOS, Windows, Ajax,</p>
                    <p>My Own RestAPI, ng-bootstrap 6, MySQL, npm, CPanel, Ran on Hostgator Shared Web Hosting,
                         Apache 2.4, git</p>
                </div> -->

                <div class="mt-3 ml-1">
                    <p>Java Stack (JavaFX, SpringBoot)</p>
                    <p>LAMP Stack (Linux, Apache, MySQL [Maria/InnoDB], PHP/Python)</p>
                    <p>MEAN Stack (MongoDB [noSQL], Express, Angular, NodeJS)</p>
                    <p>WISP Stack (Windows, IIS, SQL Server, PHP/Python)</p>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="container mb-5 mt-5">
    <div class="row">

        <div class="col-sm">
            <h1 class="headingFont bg-primary p-2 text-center text-light">Software Engineering</h1>
            <div class="">
                <p>Developing software to requirements documentation</p>
                <p></p>
                <p>Researching Newer Programming Languages and technologies</p>
            </div>
        </div>

        <div class="col-sm">
            <h1 class="headingFont bg-primary p-2 text-center text-light">Information Technology</h1>
            <p>Development/Operations (DevOps)</p>
            <p>Software Development Life Cycle (SDLC)</p>
            <p>Linux Server (Fedora/CentOS)</p>
        </div>

        <div class="col-sm">
            <h1 class="headingFont bg-primary p-2 text-center text-light">Web Technologies</h1>
            <div class="">
                <p>HTML5, CSS, Javascript</p>
                <p>Bootstrap 4</p>
                <p>Extensible Markup Language (XML), JavaScript Object Notation (JSON)</p>
            </div>
        </div>

    </div>
</section>