<div class="headings h1 text-center">
    <h1>About</h1>
</div>

<main class="container">

    <section class="row">

        <div class="shadow-lg bg-white rounded p-5">

            <div class="col-sm-12 h5 mt-3 indent doubleSpace justify ml-2 mb-3">
                <p>
                    Hi, I am Steven Prine, and welcome to my website! I am an aspiring web developer who has
                    a passion for making applications.
                    Most of these applications use computer science concepts to be
                    completed and to make sure they are scalable and efficient for solving real-world problems.
                    My passion for programming web-based applications has made it possible for me to continue learning
                    new
                    technologies.
                    While I am still learning I do plan on continuing my education and receiving my Master's
                    Degree in Computer Science with a concentration in software development.
                    If you would like to know more about my professional skillsets,
                    I implore you to take a look at my
                    <a class="textLink" routerLink="/resume">resume</a>.
                </p>
            </div>

            <div class="col-sm-12 h5 indent doubleSpace justify ml-2">
                <p>
                    When I am not programming I enjoy: reading, listening to music, and playing video games.
                    When I do read I tend to pick up the classics, and I am currently reading, The Once and Future King
                    and
                    Dante's Inferno.

                    While my favorite type of music is generally classical, I have an elastic taste in music and can
                    enjoy a
                    wide range of different genres.

                    My hobbies also include video games and cooking.
                </p>
            </div>

        </div>

    </section>

    <section class="container mt-5 mb-5 shadow-lg bg-white rounded p-5">
        <div class="row">

            <div class="col-sm-12 mb-5 headings h2 text-center">
                <h2>Skills</h2>
            </div>

            <div class="col-sm-6 mb-2 h5 text-center">
                <div>
                    <p>Java</p>
                    <p>Python</p>
                    <p>PHP</p>
                    <p>C++</p>
                </div>
            </div>

            <div class="col-sm-6 h5 text-center">
                <div>
                    <p>Information Retrieval</p>
                    <p>Developer operations</p>
                    <p>Front end frameworks / Libraries</p>
                    <p>Back end frameworks / Libraries</p>
                </div>
            </div>

        </div>
    </section>

    <section class="container mb-5 mt-5 shadow-lg bg-white rounded p-5">
        <div class="row">

            <div class="col-sm-12 mb-5 headings p-2 pl-3 text-center">
                <h2>Thank you for stopping by</h2>
            </div>

            <div class="col-sm-12 h5 justify indent">
                <p>
                    If you feel I am a good candidate for one of your companies open position
                    please do not hesitate to reach out.
                </p>
            </div>

            <div class="col-sm-12 h5 mt-2 justify">
                <p>
                    Looking forward
                    to hearing from you soon,
                    <br>
                    Steven Prine
                </p>
            </div>

        </div>
    </section>
</main>