<p class="text-center mb-5 mt-5 h1">About</p>
<section class="container mt-1 p-5">

    <div class="row">
        <div class="col-sm-12">
            <p class="headings rounded p-2 text-center mb-3 h2">Full Stack Developer</p>

            <div class="pl-2">
                <div class="mt-3 ml-1 h5">
                    <p>Java Stack (JavaFX, SpringBoot)</p>
                    <p>LAMP Stack (Linux, Apache, MySQL, PHP/Python)</p>
                    <p>MEAN Stack (MongoDB, Express, Angular, NodeJS)</p>
                    <p>WISP Stack (Windows, IIS, SQL Server, PHP/Python)</p>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="container mb-5 mb-5 mt-5  p-5">
    <div class="row">

        <div class="col-sm-12 mb-5">
            <p class="headings rounded p-2 h2 pl-3 text-center">Details</p>

            <p class="h5 mt-3 indent doubleSpace justify ml-2">
                Hello, I am Steven Prine and I am going to tell you a few things about what I achieve professionally. I
                use computer science concepts to complete applications that are scalable and efficient for solving
                real-world problems. I thoroughly enjoy programming web applications, while being entertained by
                learning new technologies. I plan on continuing education towards my master's degree in Computer Science
                with a concentration in application programming. If you would like to know more about my professional
                experiences, I implore you to take a look at my <a class="textLink" routerLink="/resume">resume</a>.
            </p>
            <p class="h5 indent doubleSpace justify ml-2">
                A few things I enjoy personally are reading, listening to music, and playing video games. I enjoy
                reading the classics and I am currently reading The Once and Future King and Dante's Inferno. My
                favorite type of music is Classical music, but I also listen to a full
                assortment of music. The best games to me, are video games that have an open world that allow me to
                explore areas in detail.
            </p>
        </div>
    </div>
</section>

<section class="container mb-5 mt-5 p-5">
    <div class="row">
        <div class="col-sm-12">
            <p class="headings rounded p-2 h2 pl-3 text-center">Thank you for stopping by</p>

            <p class="h5 mt-3 indent ml-2 justify">
                This page reflects some of my skillset and
                unique talents. If you think I'm a good fit
                for your company, please feel free to reach out.
            </p>

            <br>

            <p class="h5 ml-2 justify">
                Looking forward
                to hearing from you soon,
            </p>

            <p class="h5 ml-2 justify">Steven Prine.</p>
        </div>
    </div>
</section>