.indent {
    text-indent: 35px;
}

.headings {
    color:  #003366;
    border-bottom: #003366 solid 1.5px;
    border-right: #003366 solid 2.75px;
    border-left: #003366 solid 2.75px;
    padding: 5px;
    padding-left: 15px;
}

.doubleSpace {
    line-height: 1.75;
}

img:hover { 
    padding: .5px;
    box-shadow: 1.5px 2px black;
}

.textLink {
    text-decoration: none;
    color: darkblue;
}

.textLink:hover{
    color: dodgerblue;
}

.justify {
    text-align: justify;
}