.button {
    display: inline-block;
    border-radius: 9px;
    background-color: transparent;
    border: none;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button:hover {
    background-color: transparent;
    position: relative;
    animation: mymove 5s 1;
}

@keyframes mymove {
    0%   {background-color: #e6e6ff; }
    25%  {background-color: #80ccff; }
    50%  {background-color:	#5b79ca80;}
    75%  {background-color: #e6e6ff; }
    100% {background-color:transparent;}
  }